*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	justify-content: center;
	align-items: center;
	background: #FFF;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*- - - - - - C O N T A C T - C A R D S - - - - - */

.card{
	width: 100%; /* ⬅ Size - Small (width: 200px), Medium (width: 225px), Large (width: 250px) */
	overflow: hidden;
	background-color: #FFFFFF;

	text-align: center;
}

.banner-low{
	height: 50px;
	width: 100%;
	padding-top: 30px;
	background-color: #333333;
	background-size: cover;
	background-position: center;
}

.banner{
	height: 100px;
	width: 100%;
	padding-top: 30px;
	background-color: #FAFAFA;
	background-size: cover;
	background-position: center;
}

	.card:first-of-type .banner{
		background-color: #BD1823;
	}

.avatar{
	height: 100px;
	width: 100px;
	margin: auto;
	background-size: cover;
	background-position: center;
	background-color: #F1F1F1;
	border-radius: 100%;
}

	.card:nth-child(1) .avatar{
		background-image: url("https://s3.amazonaws.com/newvertilux.com/other/Vertilux_Family_0001.jpg");
	}

h3, a, i{
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

	h3{
		margin-top: 45px;
		margin-bottom: 5px;
		font-size: 20px;
		color: #212121;
	}

	a{
		display: block;
		padding: 5px 0px;
		font-size: 16px;
		color: #9E9E9E;
		text-decoration: none;
	}

		a:hover{
			background-color: #FAFAFA;
			color: inherit;
		}

ul{
	margin-top: 10px;
	padding: 15px 0px;
	background-color: #FAFAFA;
}

	ul a{
		display: inline;
		margin-right: 10px;
      color: #bd1823;
	}

		ul a:last-of-type{
			margin-right: 0px;
		}

			ul a i:hover{
				transform: scale(1.5);
			}

.btn {
  border-radius: 5px;
  border-style: none;
  padding: 10px 10px;
  font-size: 13px;
  text-decoration: none;
  font-family: dinpro;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.red {
	background-color: #bd1823;
}

.green{
	background-color: #25D366;
}